html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#starCanvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

#projects {
    width: 100%;
    height: 500px;
    position: relative;
    background: transparent;
}

h1, h2{
    font-weight: 700;
}

p{
    font-weight: 300;
}

.navigation {
    display: flex;
    justify-content: right;
    position: fixed; 
    top: 0;                     
    width: 100%;      
    z-index: 1000;    
}

.nav-list {
    display: inline-block;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
}

.scrolled .nav-list {
    background-color: rgba(52, 52, 52, 0.616);
    border-radius: 20px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 20px;
}

.navigation li {
    margin: 0;
    padding: 0;
}

.navigation a {
    color: #8d44ad;
    text-decoration: none;
    padding: 16px 24px; /* Größere Klickfläche */
    display: block;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: 20px;
}

.navigation a:hover {
    text-shadow: #fff 0 0 12px;
}


.container {
    justify-content: space-between;
    margin-top: 100px;
    gap: 50px;
    flex-wrap: wrap;
    display: flex;
    padding: 0 100px;
}

section {
    background: rgba(52, 52, 52, 0.616);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(142, 68, 173, 0.5);
    margin-bottom: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex: 1;
    min-width: 300px;
    text-align: center;
    cursor: pointer;
}

.title {
    padding-top: 50px;
    text-align: center;
}

.chart-container {
    width: 80%;
    max-width: 900px;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}

.charts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    align-items: center;
    padding: 50px 0;
}

.chart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.chart-item canvas {
    max-width: 100%;
    height: auto;
}

.chart-item p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}

